exportPattern("^[[:alpha:]]+")
exportPattern(".")
import(tidyverse)
import(stringr)
import(rvest)
import(rvest)
import(xml2)
import(plyr)
import(tidyr)
import(dplyr)
import(data.table)
import(ggplot2)
import(Hmisc)
import(vegan)
import(officer)